---
const proyectos = await Astro.glob('../pages/proyectos/*.md');
const { frontmatter } = Astro.props;
---
<section>
<h2>Proyectos</h2>
<section class="cards" id="proyectos">
{proyectos.map((proyecto) => (
  <article class="card">
    <section class="card__img">
        <a href={proyecto.url}><img src={proyecto.frontmatter.image} alt={`Imagen del proyecto de ${proyecto.frontmatter.title}`} loading="lazy"></a>
    </section>
    <section class="card__info">
        <h3>{proyecto.frontmatter.title}</h3>
        <div class="techs">
            {proyecto.frontmatter.techs.map((t:any) => <p class="tech">{t}</p>)}
        </div>
        <div class="card__info-links">
            <a href={proyecto.frontmatter.link} target="_blank" no-referrer>Ir a la web</a>
            <a href={proyecto.url}>Leer más</a>
        </div>
    </section>
  </article>
))}
</section>

</section>
<style>
    h2{
        color: var(--primary);
        font-weight: 400;
        font-size: 3rem;
    }
    .cards{
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
        gap: 1.5rem;
        justify-items: center;
    }
    .card{
        max-width: 21.875rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card__img{
        max-width: 350px;
        max-height: 211px;
    }
    img{
        border-radius: 10px;
        border: 1px solid var(--border-card);
        width: 100%;
    }
    .card__info{
        background-color: var(--bg-card);
        border-radius: 15px;
        border: 1px solid var(--border-card);
        padding: 10px 15px;
        width: 300px;
    }
    h3{
        margin: 0;
    }
    .techs{
        display: flex;
        flex-wrap: wrap;
        gap: .2rem;
        margin: 10px 0;
        width: 100%;
    }
    .tech{
        background-color: var(--primary);
        border-radius: 3.125rem;
        color: var(--bg-card);
        font-size: .7rem;
        font-weight: 600;
        margin: 0;
        padding: .3125rem .625rem;
    }
    .card__info-links{
        margin-top: 10px;
        
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    /*.card__info-links a::after{
        content: url(/flecha.svg);
        margin: auto 5px;
        display: block;
        
    }*/
    .card__info-links a{
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: all .5s;
    }
    .card__info-links a:hover{
        text-decoration: underline;
    }

</style>